<div class="row justify-content-center">
    <div class="col-4">
        <form #editMedicForm="ngForm" (ngSubmit)="editMedic(editMedicForm)" autocomplete="off">
            <h2 class="text-center text-primary">Editare medic</h2>
            <hr>
            
            <p>Prenume:&emsp;{{medic.firstName}}</p>
            <div class="form-group">
                <input 
                    type="text"
                    id="firstName"
                    class="form-control" 
                    name="firstName"
                    placeholder="Prenume Medic"
                    [(ngModel)]="model.firstName"
                    required>
            </div>
            <hr>

            <p>Nume:&emsp;{{medic.lastName}}</p>
            <div class="form-group">
                <input 
                    type="text"
                    id="lastName"
                    class="form-control" 
                    name="lastName" 
                    placeholder="Nume Medic"
                    [(ngModel)]="model.lastName"
                    required>
            </div>
            <hr>

            <p>Specialitate:&emsp;{{medic.specialty}}</p>
            <div class="form-group">
                <input 
                    type="text"
                    id="specialty"
                    class="form-control" 
                    name="specialty" 
                    placeholder="Specialitate Medic"
                    [(ngModel)]="model.specialty"
                    required>
            </div>
            <hr>

            <div class="form-group text-center">
                <button 
                    class="btn btn-success mr-2" 
                    type="submit"
                    [disabled]="!editMedicForm.valid">Editare</button>
            </div>
        </form>
    </div>
</div>