<a
  style="cursor: pointer;"
  [routerLink]="[consultation.id]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <!-- <p class="list-group-item-text">consultation.id = {{ consultation.id }}</p> -->
    <!-- <p class="list-group-item-text">consultation.medicId = {{ consultation.medicId }}</p> -->
    <p class="list-group-item-text">Medic:&emsp;{{ medic?.userName  | titlecase }}</p>
    <!-- <p class="list-group-item-text">consultation.pacientId = {{ consultation.pacientId }}</p> -->
    <p class="list-group-item-text">Pacient:&emsp;{{ pacient?.userName | titlecase }}</p>
    <p class="list-group-item-text">Data:&emsp;{{ consultation?.created | date:'y-MM-dd' }}</p>
  </div>
</a>