<form #registerPacientForm="ngForm" (ngSubmit)="registerPacient()" autocomplete="off">
    <h2 class="text-center text-primary">Înscriere Pacient</h2>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control" name="userName" [(ngModel)]="model.userName" placeholder="Username Pacient" required>
    </div>

    <div class="form-group">
        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" placeholder="Parolă Pacient" required>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" placeholder="Prenume Pacient" required>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" placeholder="Nume Pacient" required>
    </div>

    <div class="form-group text-center">
        <label class="form-control-label">Sex:&emsp;</label>
        <input type="radio" class="form-control-input" name="gender" value="masculin" [(ngModel)]="model.gender" required>
        <label class="form-control-label" for="masculin">&nbsp;Masculin&emsp;</label>
        <input type="radio" class="form-control-input" name="gender" value="feminin" [(ngModel)]="model.gender" required>
        <label class="form-control-label" for="feminin">&nbsp;Feminin</label>
    </div>

    <!-- <p>currentDate = {{ currentDate | date:'EEEE, dd MMMM, yyyy - HH:mm:ss' }}</p> -->

    <div class="form-group text-center">
        <label class="form-control-label">Data nașterii:&emsp;</label>
        <input type="date" class="form-control-input" name="birthDate" max="{{currentDate|date:'yyyy-MM-dd'}}" [(ngModel)]="model.birthDate" placeholder="BirthDate Pacient" required>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit" [disabled]="!registerPacientForm.valid">Înscriere</button>
        <button class="btn btn-info mr-2" (click)="cancelPacient()" type="button">Anulare</button>
    </div>

</form>