<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>MedApp</a>

        <!--
        <ul class="navbar-nav mr-auto">
            <ng-container *ngIf="accountService.currentUser$ | async">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/members' routerLinkActive='active'>Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/lists' routerLinkActive='active'>Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/messages' routerLinkActive='active'>Messages</a>
                </li>
            </ng-container>
        </ul>
        -->

        <ng-container *ngIf="medicAccountService.currentMedic$ | async">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!-- <a class="nav-link" routerLink='/medic-detail' routerLinkActive='active'>Medic Detail</a> -->
                <li>
                    <a class="nav-link" routerLink='/medic-consultations' routerLinkActive='active'>Consultații</a>
                <li>
                    <a class="nav-link" routerLink='/consultation-create' routerLinkActive='active'>Creare consultații</a>
                <li>
                    <a class="nav-link" routerLink='/medic-appointments' routerLinkActive='active'>Programări</a>
            </ul>
        </ng-container>

        <ng-container *ngIf="pacientAccountService.currentPacient$ | async">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!-- <a class="nav-link" routerLink='/pacient-detail' routerLinkActive='active'>Pacient Detail</a> -->
                <li>
                    <a class="nav-link" routerLink='/pacient-consultations' routerLinkActive='active'>Consultații</a>
                <li>
                    <a class="nav-link" routerLink='/pacient-appointments' routerLinkActive='active'>Programări</a>
            </ul>
        </ng-container>

        <!--
        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>
        -->

        <div class="dropdown" *ngIf="(medicAccountService.currentMedic$ | async) as medic" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Bun venit, dr.{{medic.userName | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a class="dropdown-item" routerLink='/medic-edit'>Editare medic</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logoutMedic()">Deconectare</a>
            </div>
        </div>

        <div class="dropdown" *ngIf="(pacientAccountService.currentPacient$ | async) as pacient" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Bun venit, {{pacient.userName | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a class="dropdown-item" routerLink='/pacient-edit'>Editare pacient</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logoutPacient()">Deconectare</a>
            </div>
        </div>

        <!--
        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" 
            (ngSubmit)="login()" autocomplete="off">
            <input
                name="username"
                [(ngModel)]="model.username"
                class="form-control mr-sm-2"
                type="search"
                placeholder="Username">
            <input
                name="password"
                [(ngModel)]="model.password"
                class="form-control mr-sm-2"
                type="password"
                placeholder="Password">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>
        -->
    </div>
</nav>