<div class="container">

    <div class="row">
        <div class="col-lg">
            <h1 class="text-center text-primary">Bun venit, dr.{{medic.firstName | titlecase}} {{medic.lastName | titlecase}}!</h1>
            <hr>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-lg"></div>
        <div class="col-5">
            <h3 class="text-primary">Date personale</h3>
            <hr>
            <div>
                <p>Username:&emsp;{{medic.userName | titlecase}}</p>
                <p>Prenume:&emsp;{{medic.firstName}}</p>
                <p>Nume:&emsp;{{medic.lastName}}</p>
                <p>Specialitate:&emsp;{{medic.specialty}}</p>
            </div>
        </div>
        <div class="col-lg"></div>
    </div>

</div>

