<form #medicLoginForm="ngForm" (ngSubmit)="loginMedic()" autocomplete="off">
    <h2 class="text-center text-primary">Autentificare Medic</h2>
    <hr>
    <div class="form-group">
        <input
            name="username"
            [(ngModel)]="model.username"
            class="form-control"
            type="search"
            placeholder="Username Medic"
            required>
    </div>
    <div class="form-group">
        <input
            name="password"
            [(ngModel)]="model.password"
            class="form-control"
            type="password"
            placeholder="Parolă Medic"
            required>
    </div>
    <div class="form-group text-center">
        <button 
            class="btn btn-success mr-2" 
            type="submit"
            [disabled]="!medicLoginForm.valid">Autentificare</button>
    </div>
</form>